/* self */
body {
    background: #eee;
}
/* paper-variables.less overwrites */
.navbar {
    margin-bottom: 0px;
    min-height: 0;
}
.navbar-brand {
    padding: 12px 15px;
    height: auto;
}
@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.content {
    background: #fff;
    -webkit-box-shadow: -1px 2px 5px 1px rgba(0,0,0,0.39);
    -moz-box-shadow: -1px 2px 5px 1px rgba(0,0,0,0.39);
    box-shadow: -1px 2px 5px 1px rgba(0,0,0,0.39);
    padding: 30px;
}
@media (max-width: 767px)  {
    .content {
        padding: 15px;
    }
}
.page-header {
    margin: 0 0 20px;
}
.sidebar-nav {
    padding-top: 10px;
}
.sidebar-nav .list-group-item {
    background-color: #eee;
    /*opacity: 0.4;*/
    border: 0;
    margin-bottom: 1px;
    padding: 13px;
    color: #555;
}
.sidebar-nav .list-group-item:after {
    content: '';
    width: 85%;
    height: 1px;
    background: #aaa;
    position: absolute;
    bottom: 0px;
    left: 15%;
    margin-left: -7.5%;

    /*border-bottom: 1px solid #aaa;*/
    -webkit-box-shadow: 0px 1px 0px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 1px 0px 0px rgba(255,255,255,1);
    box-shadow: 0px 1px 0px 0px rgba(255,255,255,1);
}
.sidebar-nav .list-group-item:hover, .sidebar-nav .list-group-item:focus {
    background-color: #eee;
    opacity: 1;
}
.sidebar-nav .list-group-item.active {
    position: relative;
}
@media (min-width: 768px) {
    .sidebar-nav .list-group-item.active:before {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 20px 15px 0;
        border-color: transparent #ffffff transparent transparent;
        position: absolute;
        top: 10px;
        right: -15px;
    }
}
.sidebar-nav a.list-group-item:hover, .sidebar-nav a.list-group-item:focus, .sidebar-nav .list-group-item a:hover, .sidebar-nav .list-group-item a:focus {
    color: #000;
    text-decoration:none;
}
.sidebar-nav .list-group-item a {
    color: #555;
}
.sidebar-nav .list-group-item a.active, .sidebar-nav a.list-group-item.active {
    color: #2196f3;
}
.sidebar-nav .list-group-item ul li a:hover, .sidebar-nav .list-group-item ul li a:focus {
    text-decoration: underline;
    color: #2196f3;
}
.sidebar-nav ul {
    padding-top: 10px;
}
.sidebar-nav .glyphicon {
    font-size: 1.2em;
    position: relative;
    top: 4px;
    margin-right: 6px;
}
footer {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #fff;
    -webkit-box-shadow: 0px -1px 0px 0px rgba(218,225,232,1);
    -moz-box-shadow: 0px -1px 0px 0px rgba(218,225,232,1);
    box-shadow: 0px -1px 0px 0px rgba(218,225,232,1);
}
/* http://bootsnipp.com/snippets/featured/expanding-search-button-in-css */
.search-form .form-control {
    height: 29px;
}
.search-form .form-group {
    float: right !important;
    transition: all 0.35s, border-radius 0s;
    width: 24px;
    height: 24px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
    margin-top: 12px;
    margin-right: 10px;
    margin-bottom: 0px;
}
.search-form .form-group input.form-control {
    padding: 0 20px 8px 10px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
    width: 100%;
    border-radius: 25px 25px 25px 25px;
}
.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #3596e0;
    left: initial;
    font-size: 14px;
}

/* specific to the permissions page */
.permissions table div.checkbox {
    margin: 0;
}
.permissions table tr.spacer, .permissions table tr.spacer:hover, .permissions table tr.spacer td {
    background-color: #fff;
    border: 0;
    padding: 30px;
}
.permissions table tr th {
    border-top: 0;
}
.permissions table tr td.active {
    border-bottom: 1px solid #ccc;
}